@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Nunito:wght@100;400&family=Oswald&family=Roboto:wght@100;400&family=Ubuntu&display=swap');

* { 
    font-family: 'Nunito', sans-serif;
}

body {
    background: #204b5f;
    padding: 0px;
    margin: 0px;
}

.logo-text-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.logo-text {
    color: white;
    font-size: 21px;
    /* margin-right: 5%; */
}

.sidenav-2 {
    height: 100vh;
    /* width: 250px; */
    width: 16%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #08415c;
    box-shadow: 2px 0px 2px rgba(227, 238, 242, 0.2);
}

.sidenav-2 ul {
    margin-top: 20%;
    padding-left: 10%;
    padding-right: 10%;
}

.sidenav-2 ul li{
    list-style-type: none;
}

.sidenav-2 li:nth-child(1) {
    margin: 0px 0px 20px 0px;
}

.sidenav-2 li {
    margin: 20px 0px;
}

.side-link {
    display: flex;
    align-items: center;
    padding: 3px;
}

.side-link img{
    width: 35px;
    height: auto
}

.side-link p {
    margin-bottom: 0;
    font-size: 16px;
}

.active-side-link {
    background-color: white;
    color: #08415c !important;
    border-radius: 5px;
}

.active-side-link p {
    color: #08415c !important;
}

/*.active-link { 
    background-color: white;
    color: #08415c;
    padding: 10px;
    border-radius: 5px;
}*/ 

.sidenav-2 li span {
    margin-right: 10px;
}

.sidenav-2 li a {
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    color: white;
}

/*.sidenav-2 li a:hover {
    transition:  ease-in-out 0.2s;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    color: #08415c;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}*/

.sidenav-bottom-nav {
    margin-top: 130%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidenav-bottom-nav a {
    color: white;
    margin:  10px auto;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
}

.topnav {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sub-topnav {
    display: flex;
    align-items: center;
    float: right;
}

.sub-topnav div{
    margin-left: 10px;
    margin-right: 10px;
}

.sub-topnav-icons {
    color: white;
    font-size: 18px;
}

.body-section {
    margin-left: 16%;
    margin-top: 0px;
    padding: 10px 25px;
}

.search-input {
   width: 400px;
   height: 48px;
   border-radius: 10px; 
   background-image: url('../img/icon/search-icon.png');
   background-repeat: no-repeat;
   background-size: 20px;
   background-position-x: 15px;
   background-position-y: 15px;
   text-indent: 40px;
}

.flex-cont {
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: space-between;
}

/* .card-holder,
.graph-holder  {
    border: 1px solid white;
} */

.graph-holder img {
    
}

.graph-image_wrap {
    width: 100%;
    height: 320px;
    
}

.graph-image_wrap img{
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-radius: 10px;
}

.card-holder {
    width: 100%;
    margin: 0 auto;
}

.card-title {
    color: white; 
    margin-left: 1%; 
    margin-bottom: 10px; 
    font-size: 18px;
}

.card-title:nth-child(2) {
    color: white; 
    margin-right: 1%; 
    font-weight: 400; 
    font-size: 18px;
}

.card {
    background-color: #08415c;
    padding: 25px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    width: 60%;
    border-radius: 10px;
}

.sub-card-div {
    display: flex; 
    flex-direction: row; 
    width: 100%;
    justify-content: center; 
}

.font-adj {
    font-size: 20px;
    color: white;
    margin-top: 8px;
}

.sub-card-div ul {
    list-style-type: none;
    font-size: 20px;
    color: white;
    margin-left: 0px;
    margin-bottom: 0px;
}

.card h3 p {
    margin: 10px auto;
}

.flex-cont-2 {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
}

.schedule-holder {
    background-color: #08415c; 
    width: 100%; 
    border-radius: 20px; 
    padding: 10px 0px;
}

.schedule-item {
    display: flex; 
    flex-direction: row; 
    width: 100%; 
    margin: 10px 0px; 
    padding: 0px 20px;
    height: 100px;
}

.day-cont {
    width: 60px;
    display: flex;
    align-items: flex-start;
}

.schedule-item-day {
    color: #E3EEF2; 
    font-size: 20px; 
    font-weight: 400;
    margin-top: 0px;
}

.schedule-item-sub {
    border-left: 5px solid #E3EEF2; 
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center;
    padding: 0px 10px;
    width: 90%;
    box-shadow: 4px 4px 6px rgba(38, 50, 56, 0.2);
    margin-bottom: 10px;
}

.schedule-item-sub-1 {
    border-left: 5px solid #F1BF98; 
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center;
    padding: 0px 10px;
    width: 90%;
    box-shadow: 4px 4px 6px rgba(38, 50, 56, 0.2);
    margin-bottom: 10px;
}


.schedule-item-sub p {
    color: #E3EEF2;
}

.schedule-item-sub-1 p {
    color: #F1BF98;
}

.schedule-item-sub button {
    padding: 10px;
    background: transparent;
    border: 1px solid #E3EEF2;
    border-radius: 10px;
    color: #E3EEF2;
}

.schedule-item-sub-1 button {
    padding: 10px;
    background: transparent;
    border: 1px solid #F1BF98;
    border-radius: 10px;
    color: #F1BF98;
}

@media screen and (max-width: 1304px) {
    .flex-cont {
        flex-direction: column;
    }

    .flex-cont-2 {
        width: 100%;
    }

    .card {
        width: 100%;
    }
}

@media screen and (max-width: 1260px) {
    .sidenav-2 ul  {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media screen and (max-width: 1093px) {
    .sidenav-2  {
        width: 18%;
    }

    .body-section {
        margin-left: 18%;
    }
}

@media screen and (max-width: 1158px) {
    .schedule-item-sub,
    .schedule-item-sub-1 {
       width: 85%; 
    } 
} 

@media screen and (max-width: 1000px) {
    .sidenav-2  {
        display: none;
    }

    .body-section {
        margin-left: 0;
    }
}

@media screen and (max-width: 887px) {
    .card-holder {
        width: 100%;
    }
}

@media screen and (max-width: 797px) {
    .body-section {
        margin: 0px 1%;
    }

    .flex-cont-2 {
        width: 100%;
    }

    .graph-image {
        width: 100%;
    }

    .schedule-item-sub,
    .schedule-item-sub-1 {
       width: 80%; 
    } 
}

@media screen and (max-width: 672px) {
    .body-section {
        margin: 0px 0.05%;
    }

   
}

@media screen and (max-width: 623px) {
    .search-input-cont {
        width: 50%;
    }

    .search-input {
        width: 100%;
    }

    .schedule-item {
        height: 150px;
    }

    .schedule-item-sub,
    .schedule-item-sub-1 {
       flex-direction: column;
       align-items: flex-start;
       justify-content: center;
       padding-left: 20px;
       width: 75%;
    } 
}

@media screen and (max-width: 516px) {
    .search-input-cont {
        width: 50%;
    }
}

@media screen and (max-width: 502px) {
    .schedule-item-sub,
    .schedule-item-sub-1 {
        width: 60%;
    }
}

@media screen and (max-width: 437px) {
    .card-holder {
        width: 95%;
    }

    .card {
        width: 100%;
    }
}

@media screen and (max-width: 383px) {
    .body-section {
        margin: 0%;
    }

    .sub-topnav {
        width: 140px;
    }
} 

@media screen and (max-width: 353px) {
    .sub-topnav {
        width: 120px;
    }

    .schedule-item-sub,
    .schedule-item-sub-1 {
        width: 50%;
    }
}

.single-info {
    display: flex;
    color: #fff;
}

.single-info p {
    font-size: 14px;
}

.single-info div {
    padding-left: 5px;
    padding-right: 5px;
}

.shedule {
    margin-top: 10px;
}

@media screen and (max-width: 540px) {

    .shedule {
        display: none;
    }

    .search-input-cont {
        display: none;
    }

    .sub-topnav {
        width: 100%;
        justify-content: flex-end;
    }
}