nav {
    color: #fff;
    padding-top: 30px;
    padding-left: 5%;
    padding-right: 5%;
}

body {
    background-color: #08415c;
    color: #fff;
}

main {
    padding: 30px 5%;
}

@media screen and (max-width: 540px) {
    main {
        padding: 30px 0;
    }
}

.all-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.all-box .single-box-goals {
    width: 380px;
    margin: 30px 20px;
    margin-bottom: 0;
}

.all-box .single-box-join {
    width: 450px;
    margin: 30px 20px;
    margin-bottom: 0;
}

@media screen and (max-width: 1026px) {
    .all-box .single-box-goals {
       display: none;
    }
}

@media screen and (max-width: 750px) {
    .all-box .single-box-goals {
        width: 450px;
        margin: 30px 20px;
        display: none;
    }
    
    .all-box .single-box-join {
        width: 450px;
        margin: 30px 20px;
    }
}

@media screen and (max-width: 540px) {
    .all-box .single-box-goals {
        width: 100%;
        margin: 30px 20px;
        display: none;
    }
    
    .all-box .single-box-join {
        width: 100%;
        margin: 30px 20px;
    }
}


.main-single-box {
    background: linear-gradient(180deg, #08415C 0%, #455A64 100%);
    border: 1px solid #F1BF98;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 5%;
    height: 100%;
}

.main-single-box .target {
    width: 200px;
    height: auto;
    margin: 70px auto;
}

.main-single-box .target img {
    width: 200px;
    height: auto;
    object-fit: cover;
}

.main-single-box .head {
    font-size: 25px;
    text-align: center;
    margin: 10px 0;
}

.main-single-box .head-join {
    font-size: 25px;          
    text-align: left;
    margin: 10px 0;
}

.main-single-box .content {
    font-size: 18px;
    text-align: center;
    color: #6B818C;
    margin: 10px 0;
    padding-top: 10px;
}

.form-input {
    margin: 10px 0px;
    padding-right: 0;
}

.form-input input {
    background: none;
    border: 1px solid #6B818C;
    color: #fff;
    font-size: 16px;
}

.form-input input:hover {
    background: none;
    color: #fff;
    border: 1px solid #fff;
    outline: none;
}

.form-input select {
    background: none;
    border: 1px solid #6B818C;
    color: #fff;
}

.sign-btn {
    background: #fff;
    padding: 10px 0px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 2px;
    font-size: 28px;
    cursor: pointer;
}

.sign-btn p {
    margin: 0;
    color: #08415C;
    text-align: center;
    font-size: 18px;
}

.sign-btn i {
    font-size: 18px;
}

.social-auth {
    padding: 10px 0;
}

.social-auth .social-box {
    padding-right: 0 !important;
}

.social-auth-btn {
    background-color: #fff;
    border-radius: 2px;
    height: 50px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-auth-btn img {
    width: 70px;
    height: auto;
}

.social-hr {
    color: #fff;
    width: 20%;
}

.social-hr hr {
    width: 100%;
}

.sign-with-text {
    text-align: center;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}



.sign-with-text p{
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 10px;
}

.bottom-text {
    text-align: center;
    font-size: 16px;
    padding-top: 0px;
}

.peach {
    text-decoration: none;
    color: #F1BF98;
}

label {
    font-size: 16px;
}

.checkbox {
    margin: 0px 0;
    display: flex;
    align-items: center;
}

.checkbox label{
    margin-left: 10px;
}

.error p{
    text-align: center;
    color: rgb(255, 78, 78);
    font-size: 16px;
    margin-bottom: 0;
}

.forgot-password {
    font-size: 16px;
    padding: 5px 0;
}

.forgot-password p {
    margin-bottom: 0;
}

